/* ------------------------------------------GENERAL CLASSES----------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.primary-bg{
    background-color: #000000 ;
}

.secondary-bg{
    background-color:#FFFFFF ;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.center-text{
    text-align: center;
}


