*{
    margin: 0;
    padding: 0;
}

.primary-bg{
    background-color: ;
}

.secondary-bg{
    background-color: ;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

